{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script href="{% static 'js/main.js' %}"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="kerdes">
            If you plug in {{pla}} and {{plb}} into the secret formula you get {{plawns}},
        </div>
        <div class="kerdes">
            what happens if you plug in {{questiona}} and {{questionb}}?
        </div>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="oldquestiona" value="{{questiona}}">
            <input type="hidden" name="oldquestionb" value="{{questionb}}">
            {% for elem in list1 %}
                <div>
                    <p><input type="radio" name="awnser" value="{{elem}}"> {{elem}}</p>
                </div>
            {% endfor %}
            <button type="submit">Submit</button>

        </form>

        {% if user_awnsered %}

            {% if correct %}

            <div>Correct!</div>

            {% else %}

            <div>No, you bad!</div>

            {% endif %}

        {% endif %}
        
    </body>
</html>