html{
    background-color: #444444;
}

.kerdes{
    font-size: 50px;
    color:whitesmoke;
}

p{
    color:whitesmoke;
}

label{
    cursor: pointer;
}

.sumbutton{
    background:#333333;
    color:whitesmoke;
}

.awnser{
    color: whitesmoke;
}